.rbn-padding {
    padding: 1rem .75rem;
}

.rbn-margin-bottom {
    margin-bottom: 1rem;
}

.rbn-log {
    background-color: transparent;
}

.rbn-log td {
    white-space: nowrap;
}

.rbn-log td.rbn-log-cell-multiline {
    white-space: normal;
    vertical-align: middle;
}

.rbn-log td pre {
    background-color: transparent;
    padding: 0;
}