<h1 class="title is-1">Plugins</h1>

<div class="columns">
{{#each plugins}}
    <div class="column is-one-third">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    {{ name }}
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                </div>
            </div>
        </div>
    </div>
{{/each}}
</div>
