<form method="post">
    <h3 class="title is-1 has-text-centered">
        What's your username?
    </h3>

    <div class="field has-addons has-addons-centered is-large">
        <p class="control">
            <a class="button is-static is-large">
                @
            </a>
        </p>
        <p class="control">
            <input class="input is-large" type="text" name="username" placeholder="Your username">
        </p>
    </div>
</form>
